<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <h1>Birds</h1>
    <ul>
      <li v-for="(bird, index) in birds" :key="bird.id">{{bird}} {{index}}</li>
    </ul>
    <h1>Poeple</h1>
    <ul>
      <li v-for="person in people">Name:{{person.name}}&nbsp;&nbsp;&nbsp; Age:{{person.age}}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>